<template>
    <v-container grid-list-md fill-height class="team">
        <h2 class="team__header">Meet our team</h2>
        <v-layout row wrap class="team__list">
            <v-flex v-for="(employee, index) in employees" :key="index" class="team__item">
                <idh-employee :employee="employee" @select="openCarousel(index)"></idh-employee>
            </v-flex>
        </v-layout>
        <idh-carousel :sliders="employees" ref="carousel"></idh-carousel>
    </v-container>
</template>

<script>
    import Employee from '@/components/Employee.vue'
    import Carousel from '@/components/Carousel.vue'
    import {mapState} from 'vuex'

    export default {
        computed: {
            ...mapState('team', ['employees'])
        },
        methods: {
            openCarousel(index) {
                this.$refs.carousel.init(index)
            }
        },
        components: {
            'idh-employee': Employee,
            'idh-carousel': Carousel
        }
    }
</script>

<style lang="scss" scoped>
    @import "../assets/styles/colors";
    @import "../assets/styles/breakpoints";

    .team {
        flex-direction: column;
        &__header {
            font-size: 6rem;
            font-weight: 600;
            color: $idh-purple-txt;
            margin-top: 2rem;
            margin-bottom: 9rem;
            text-align: center;
        }
        &__list {
            width: 100%;
        }
        &__item {
            width: calc(100% / 2);
            margin-bottom: 3rem;
            flex: initial !important;
            @include small {
                width: calc(100% / 3);
            }
            @include medium {
                width: calc(100% / 4);
            }
            @include from($laptop) {
                width: calc(100% / 5);
            }
        }
    }
</style>
