<template>
    <section v-if="index !== null">
        <div class="close" @click="close()"></div>
        <div class="left" @click="prev()"></div>
        <ul class="carousel" ref="carousel">
            <template v-for="(slider, index) in copySlider">
                <li class="carousel__item" :style="styles" :key="index">
                    <div>
                        <h6 class="carousel__item__position">{{slider.position}}</h6>
                        <h4 class="carousel__item__title">{{slider.title}}</h4>
                    </div>
                </li>
            </template>
        </ul>
        <div class="right" @click="next()"></div>
    </section>
</template>

<script>
export default {
  data: () => ({
    index: null,
    copySlider: [],
    offset: 0,
    delay: 0,
    timeout: null
  }),
  props: {
    sliders: Array,
    transition: {
      default: 300
    }
  },
  computed: {
    styles () {
      return {
        transform: `translateX(${this.offset}vw)`,
        transition: `${this.delay / 1000}s`
      }
    }
  },
  methods: {
    init (index) {
      this.copySlider = []
      this.index = index
      this.offset = index * -100
      this.delay = this.transition
      this.copySlider = [...this.sliders]
    },
    prev () {
      if (this.timeout) { return }
      const last = this.copySlider.pop()
      this.copySlider.unshift(last)
      this.delay = 0
      this.offset -= 100
      this.timeout = setTimeout(() => {
        this.delay = this.transition
        this.offset += 100
        this.clearAnimation()
      }, 50)
    },
    next () {
      if (this.timeout) { return }
      const first = this.copySlider.shift()
      this.copySlider.push(first)
      this.delay = 0
      this.offset += 100
      this.timeout = setTimeout(() => {
        this.delay = this.transition
        this.offset -= 100
        this.clearAnimation()
      }, 50)
    },
    clearAnimation () {
      setTimeout(() => {
        this.timeout = null
      }, this.transition)
    },
    close () {
      this.index = null
    },
    keydown ({code}) {
      (code === 'Escape') && this.close()
    }
  },
  mounted () {
    document.addEventListener('keydown', this.keydown)
  },
  beforeDestroy () {
    document.removeEventListener('keydown', this.keydown)
  }
}
</script>

<style scoped lang="scss">
    @import "../assets/styles/colors";

    section {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background: url("../assets/images/carousel-bg.png") center bottom;
        top: 0;
        left: 0;
        animation: fade 0.3s;
        &:before {
            content: '';
            opacity: 0.6;
            background-color: $idh-blue;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        @keyframes fade {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }

    .close {
        position: fixed;
        background: url("../assets/icons/close.svg") no-repeat;
        background-size: contain;
        z-index: 999;
        right: 5rem;
        top: 5rem;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
    }

    .left {
        background: url("../assets/icons/left.svg");
        left: 4rem;
    }

    .right {
        background: url("../assets/icons/right.svg");
        right: 4rem;
    }

    .left, .right {
        cursor: pointer;
        width: 5rem;
        height: 5rem;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        z-index: 999;
        transform: translateY(-50%);
        &.disabled {
            pointer-events: none;
        }
    }

    .carousel {
        width: 100%;
        height: 100%;
        padding-left: 0;
        display: flex;
        align-items: center;
        position: relative;
        &__item {
            min-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 7rem;
                border: 4px dashed rgba(255, 255, 255, 0.6);
            }
            &__position, &__title {
                text-shadow: 1px 2px 2px $idh-shadow;
                color: white;
            }
            &__position {
                font-size: 5rem;
                font-weight: 300;
                line-height: 5rem;
                margin-bottom: 1rem;
            }
            &__title {
                font-size: 7rem;
                line-height: 7rem;
                font-weight: 600;

            }
        }
    }
</style>
