<template>
  <v-card flat class="v-card--main">
    <div class="employee--avatar"
         @click="$emit('select')"
         :style="{ backgroundImage: `url(${url})` }">
      <a :href="`mailto:${employee.contact}`">
        <img src="../assets/icons/envelope.svg" alt="">
      </a>
    </div>
    <div class="employee">
      <h4 class="employee__title">{{employee.title}}</h4>
      <p class="employee__position">{{employee.position}}</p>
      <p class="employee__place">{{employee.place}}</p>
    </div>
  </v-card>
</template>

<script>
export default {
  props: {
    employee: Object
  },
  computed: {
      url() {
          return require(`../assets/images/employees/${this.employee.thumbnail}.png`)
      }
  }
}
</script>

<style scoped lang="scss">
  @import "../assets/styles/colors";
  .v-card--main{
    margin: 0 1rem;
    padding: 0 1rem;
    max-width: 20rem;
    .employee--avatar {
      width: 100%;
      border-radius: 50%!important;
      background-position: center;
      background-size: cover;
      cursor: pointer;
      &:before{
        content: '';
        padding-top: 100%;
        float: left;
        width: 100%;
        opacity: 0.6;
        background-color: $idh-blue;
        border-radius: 50%;
      }
      a{
        position: absolute;
        top: 1rem;
        right: 1.5rem;
      }
    }
  }
  .employee{
    display: flex;
    flex-direction: column;
    text-align: center;
    p{
      line-height: 2.4rem;
      margin-bottom: 0;
    }
    &__title{
      font-size: 2rem;
      color: $idh-purple-txt;
      margin: 1.5rem 0;
    }
    &__position{
      font-size: 1.4rem;
      color: $idh-blue-txt;
      font-weight: 300;
    }
    &__place{
      font-size: 1.4rem;
      color: $idh-gray-txt;
      font-weight: 300;
    }
  }
</style>
