<template>
  <v-app>
    <v-container fluid pa-0 fill-height class="container__main">
      <router-view></router-view>
    </v-container>
  </v-app>
</template>

<style lang="scss">
  .container {
    &__main {
      background: url("./assets/images/bg.png") repeat;
    }
  }
</style>
