html {
  font-size: 62.5%;
  cursor: pointer;
}

body {
  position: relative;
  min-height: 100vh;
  cursor: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  * {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
  }
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

*,
*:focus,
*:active {
  -webkit-tap-highlight-color: rgba(185, 40, 40, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
}