$sm-tablet: 600px;
$tablet: 960px;
$laptop: 1264px;
$desktop: 1904px;

//Material Design Viewport Breakpoints
@mixin extra-small {
  @media screen and (max-width: $sm-tablet - 1px){
    @content
  }
}

@mixin small {
  @media screen and (min-width: $sm-tablet) and (max-width: $tablet - 1px) {
    @content
  }
}

@mixin medium {
  @media screen and (min-width: $tablet) and (max-width: $laptop - 1px){
    @content
  }
}

@mixin large {
  @media screen and (min-width: $laptop) and (max-width: $desktop - 1px){
    @content
  }
}

@mixin extra-large {
  @media screen and (min-width: $desktop){
    @content
  }
}

//Material Design device breakpoint
@mixin desktop-only {
  @media screen and (min-width: $laptop) and (max-width: $desktop - 1px){
    @content
  }
}


@mixin tablet-only {
  @media screen and (min-width: $sm-tablet) and (max-width: $laptop - 1px){
    @content
  }
}
@mixin touch {
  @media screen and (max-width: $laptop - 1px){
    @content
  }
}


//Breakpoint helpers
@mixin from($device) {
  @media screen and (min-width: $device){
    @content
  }
}

@mixin until($device) {
  @media screen and (max-width: $device - 1px){
    @content
  }
}
